.carousel {
  background-image: url(../img/titre.png);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: 100px 0;
  width: 110vw;
  height: 70px;
  overflow: hidden;
  position: relative;
  animation: carousel 18s infinite linear;
}

@keyframes carousel {
  from {
    background-position: 0;
  }
  to {
    background-position: 120vw;
  }
}
