.carousel {
  background-image: url(../img/titre.png);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: 90px 0;
  animation: carousel 2s infinite linear;
  width: 110vw;
  height: 70px;
}

@keyframes carousel {
  from {
    background-position: -60px 0;
  }
  to {
    background-position: 60px 0;
  }
}
