.event {
  padding: 60px 50px 60px 30px;
}

.event img {
  padding-bottom: 25px;
}

.event a {
  text-transform: uppercase;
  font-family: "Aspekta-650";
  font-size: 30px;
}

@media screen and (max-width: 1366px) {
  .event a {
    font-size: 27px;
  }
}

.event p {
  font-family: "Aspekta-450";
  font-size: 30px;
  line-height: 33px;
}

@media screen and (max-width: 1366px) {
  .event p {
    font-size: 27px;
  }
}

.container-case {
  display: flex;
  padding-top: 25px;
}

.black-case p {
  background: #000000;
  border-radius: 12px;
  font-family: BDRmono2006;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 0;
  width: 110px;
  text-align: center;
  text-transform: uppercase;
  padding: 3px;
}

@media screen and (max-width: 1366px) {
  .black-case p {
    font-size: 22px;
    width: 100px;
  }
}

.black-case {
  padding-right: 12px;
}

.white-case p {
  border: 1px solid #000000;
  border-radius: 12px;
  font-family: BDRmono2006;
  font-size: 25px;
  color: #000000;
  letter-spacing: 0;
  width: 235px;
  text-align: center;
  text-transform: uppercase;
  padding: 3px;
}

@media screen and (max-width: 1366px) {
  .white-case p {
    font-size: 22px;
    width: 205px;
  }
}
