.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}

.bounce {
  animation: bounce 2s ease infinite;
  font-family: "Aspekta 550";
}

@keyframes bounce {
  0% {
    transform: translate(0, 0) rotate(2deg);
  }
  25% {
    transform: translate(5px, 0px) rotate(2deg);
  }
  50% {
    transform: translate(4, 0) rotate(-2deg);
  }
  75% {
    transform: translate(5px, 0px) rotate(2deg);
  }
  100% {
    transform: translate(0, 0) rotate(-2deg);
  }
}

.logo-eikonica img {
  width: 35%;
  padding: 31px 0 20px 25px;
}

@media screen and (max-width: 1366px) {
  .logo-eikonica img {
    width: 30%;
    padding-bottom: 0px;
  }
}

.bars {
  display: flex;
  justify-content: space-around;
  padding: 51px 50px 40px 0;
}

@media screen and (max-width: 1366px) {
  .bars {
    padding: 40px 40px 50px 0;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1366px) {
  .bars a {
    padding-right: 20px;
  }
}

@media screen and (max-width: 1366px) {
  .bars {
    padding: 45px 0 30px 0;
  }
}

p {
  font-family: "Aspekta 450";
  font-size: 32px;
}

@media screen and (max-width: 1366px) {
  p {
    font-size: 25px;
  }
}

.french-selector {
  font-family: "Aspekta 600";
}

.language-selector {
  display: flex;
  justify-content: flex-end;
  padding-left: 10px;
}

@media screen and (max-width: 1366px) {
  .language-selector {
    padding-left: 0;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
  }
}

.bars a {
  text-decoration: none;
}

a:visited {
  text-decoration: underline;
}
