.container {
  margin: 0%;
}

.infos {
  border: solid 1px black;
  padding: 15px 15px 15px 35px;
}

.infos h1 {
  text-transform: uppercase;
  font-family: "Aspekta 500";
  font-size: 117px;
  color: #000000;
  letter-spacing: 0;
  padding-top: 10px;
}

.infos h2 {
  font-family: BDRmono2006;
  font-weight: 300;
  font-size: 85px;
  color: #000000;
  letter-spacing: 0;
  text-transform: uppercase;
}

.infos p {
  font-family: Aspekta-300;
  font-size: 27px;
  color: #000000;
  letter-spacing: 0;
  line-height: 37px;
  padding-top: 30px;
}

.hands img {
  width: auto;
  margin: 0%;
  padding: 0;
}

.infos a {
  font-family: Aspekta-450;
  font-size: 32px;
}
