.container {
  margin: 0%;
}

.infos {
  border: solid 1px black;
  padding: 15px 15px 15px 35px;
}

.infos h1 {
  text-transform: uppercase;
  font-family: "Aspekta 500";
  font-size: 117px;
  color: #000000;
  letter-spacing: 0;
  padding-top: 15px;
}

@media screen and (max-width: 1366px) {
  .infos h1 {
    font-size: 90px;
  }
}

.infos h2 {
  font-family: BDRmono2006;
  font-weight: 300;
  font-size: 85px;
  color: #000000;
  letter-spacing: 0;
  text-transform: uppercase;
  position: relative;
  top: -20;
}

@media screen and (max-width: 1366px) {
  .infos h2 {
    font-size: 65px;
  }
}

.infos p {
  font-family: Aspekta-300;
  font-size: 27px;
  color: #000000;
  letter-spacing: 0;
  line-height: 35px;
  padding-top: 17px;
}

@media screen and (max-width: 1366px) {
  .infos p {
    font-size: 22px;
    line-height: 30px;
  }
}

.infos a {
  font-family: Aspekta-450;
  font-size: 32px;
}

@media screen and (max-width: 1366px) {
  .infos a {
    font-size: 26px;
  }
}

video {
  border: black solid 1px;
}
