.newsletter {
  background-color: black;
  height: 500px;
}

.newsletter p {
  font-family: Aspekta-600;
  font-size: 55px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 60px;
  text-transform: uppercase;
  padding: 40px 0 0 30px;
}

.newsletter h3 {
  font-family: BDRmono2006;
  font-weight: 300;
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 20px 0 0 30px;
}
