.newsletter {
  background-color: black;
  height: 360px;
}

@media screen and (max-width: 1366px) {
  .newsletter {
    height: 430px;
  }
}

.newsletter p {
  font-family: Aspekta-600;
  font-size: 55px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 60px;
  text-transform: uppercase;
  padding: 40px 0 0 30px;
}

.newsletter h3 {
  font-family: BDRmono2006;
  font-weight: 300;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 15px 0 0 30px;
}

.text-newsletter {
  background-color: #d8d8d8;
  color: #5c5c5c;
  font-size: 22px;
  border-radius: 15px;
  font-family: Aspekta-350;
  width: 500px;
  padding: 12px;
}

.mail {
  padding: 50px 0 0 30px;
}

.inscriptions {
  padding: 52px 0 0 25px;
}

.inscriptions h4 {
  background: #ffffff;
  border-radius: 15px;
  font-family: BDRmono2006-Bold;
  font-size: 22px;
  color: #000000;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 15px;
  width: 140px;
  text-align: center;
}

@media screen and (max-width: 1366px) {
  .inscriptions {
    padding: 52px 0 0 95px;
  }
}
