.tickets-promo {
  background-image: url(../img/fond-texture.png);
  background-size: cover;
  padding: 60px 50px 30px 30px;
}

.tickets-promo h3 {
  font-family: BDRmono2006;
  font-weight: 300;
  font-size: 55px;
  color: #000000;
  letter-spacing: 0;
  text-transform: uppercase;
}

.tickets-promo p {
  font-family: Aspekta-300;
  font-size: 30px;
  color: #000000;
  letter-spacing: 0;
  line-height: 35px;
  padding-top: 20px;
}
