.tickets-promo {
  background-image: url(../img/fond-texture.png);
  background-size: cover;
  padding: 60px 0 0 30px;
  height: 400px;
}

.tickets-promo h3 {
  font-family: BDRmono2006;
  font-weight: 300;
  font-size: 60px;
  color: #000000;
  letter-spacing: 0;
  text-transform: uppercase;
}

.tickets-promo p {
  font-family: Aspekta-300;
  font-size: 30px;
  color: #000000;
  letter-spacing: 0;
  line-height: 37px;
  padding-top: 25px;
}

.banner img {
  width: cover;
  margin: 0;
  height: 400px;
  padding-left: 115px;
}
