.tickets-promo {
  background-image: url(../img/fond-texture.png);
  background-size: cover;
  height: 400px;
}

.tickets-promo h3 {
  font-family: BDRmono2006;
  font-weight: 300;
  font-size: 60px;
  color: #000000;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 40px 0 0 30px;
}

.tickets-promo p {
  font-family: Aspekta-300;
  font-size: 30px;
  color: #000000;
  letter-spacing: 0;
  line-height: 37px;
  padding: 25px 0 0 30px;
}

.banner img {
  width: 600px;
  margin: 0;
  height: 400px;
  position: absolute;
  right: 0;
}

.banner {
  position: relative;
}
