@font-face {
  font-family: "Aspekta";
  src: url(../font/aspekta-main/fonts/webfonts/Aspekta-300.woff2);
}

@font-face {
  font-family: "Aspekta";
  src: url(../font/aspekta-main/fonts/webfonts/Aspekta-450.woff2);
}

@font-face {
  font-family: "Aspekta";
  src: url(../font/aspekta-main/fonts/webfonts/Aspekta-500.woff2);
}

@font-face {
  font-family: "Aspekta";
  src: url(../font/aspekta-main/fonts/webfonts/Aspekta-600.woff2);
}

@font-face {
  font-family: "Aspekta";
  src: url(../font/aspekta-main/fonts/webfonts/Aspekta-400.woff2);
}

@font-face {
  font-family: "Aspekta";
  src: url(../font/aspekta-main/fonts/webfonts/Aspekta-550.woff2);
}
