.contact {
  background-color: black;
  padding: 60px 0 0 40px;
}

.contact img {
  width: 210px;
  padding-bottom: 40px;
}

.social img {
  width: 42px;
  padding-right: 7px;
}

.social p {
  font-family: Aspekta-450;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 0;
  padding-bottom: 7px;
}

.copyright {
  font-family: Aspekta-300;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
}

.break {
  word-wrap: break-word;
  white-space: pre-wrap;
}
